<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team">
     <p><label for="POST_teamname">Team Name:</label>
     <input id="POST_teamname" type="text" name="name">
     <p><label for="POST_coach">Coach:</label>
     <input id="POST_coach" type="text" name="coach">
     <p><label for="POST_pg">Point Guard:</label>
     <input id="POST_pg" type="text" name="pg">
     <p><label for="POST_sg">Shooting Guard:</label>
     <input id="POST_sg" type="text" name="sg">
     <p><label for="POST_pf">Power Forward:</label>
     <input id="POST_pf" type="text" name="pf">
     <p><label for="POST_sf">Small Forward:</label>
     <input id="POST_sf" type="text" name="sf">
     <p><label for="POST_c">Center:</label>
     <input id="POST_c" type="text" name="c">
     <p><button type="submit" value="Sign Me Up!">submit</button>
   </form>

 </body>
</html>
