<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
<form action="/team" method="post">
  Team Name:<br>
  <input type='text' name="name"><br>
  Coach:<br>
  <input type='text' name = "coach"><br>
  Point Guard: <br>
  <input type='text' name = "pg"><br>
  Shooting Guard: <br>
  <input type='text' name = "sg"><br>
  Small Forward: <br>
  <input type='text' name = "sf"><br>
  Power Forward: <br>
  <input type='text' name = "pf"><br>
  Center: <br>
  <input type='text' name = "c"><br>
  <input type='submit' name='submit' value ="submit" id='submit'>
</form>
 </body>
</html>
